$primary_color: #dedede;
$secondary_color: black;

$button_bg: blue;
$button_color: white;

$font_size_small: "12px";
$font_size_medium: "16px";
$font_size_large: "20px";
$font_size_xlarge: "24px";

$border-radius: 6px;