@import "../../style/variables.scss";

#about{
    color: $font-color;
    h1{
        font-size: 2rem;
        text-align: center;
        padding: 2rem 0;
    }
    img{
        display: block;
        margin: 2rem auto;
        width: 50%;
        border-radius: 5px;
    }
    p{
        font-size: 1.2rem;
        text-align: center;
        padding: 0 2rem;
    }
    
}