nav{
    padding: 1rem 2rem;
    background-color: #FDCA40;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul li {
    list-style: none;
}

li a{
    text-decoration: none;
    color: #080708;
}

ul h1{
    margin-right: auto;
}