* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #262626;
  grid-template-areas: "header header header" "about about about" "galery galery galery" "footer footer footer";
}

.header {
  grid-area: header;
  color: #BBBBBB;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("./images/hero_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header--nav {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin: 128px 0;
}
.header--nav--logo {
  width: 110px;
  height: 110px;
}
.header--nav--content h1 {
  letter-spacing: 2px;
  font-size: 40px;
}
.header--nav--content p {
  font-size: 18px;
}
.header--hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header--hero h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: #D3AB54;
}
.header--hero p {
  font-size: 30px;
}
.header--hero button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #D3AB54;
  background-color: transparent;
  border: 1px solid #D3AB54;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  height: 45px;
  width: 175px;
}
.header--hero button:hover {
  background-color: #D3AB54;
  color: black;
}

.about {
  grid-area: about;
  overflow: hidden;
  display: grid;
  grid-template-columns: 4fr 6fr;
  padding: 128px 0;
}
.about--image img {
  width: 100%;
  position: relative;
  left: -40%;
}
@media screen and (max-width: 600px) {
  .about--image {
    display: none;
  }
}
.about--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  color: #BBBBBB;
}
.about--content h1 {
  font-family: "Dancing Script", cursive;
  color: #D3AB54;
  font-size: 60px;
}
.about--content .paragraph {
  font-size: 30px;
  margin-bottom: 48px;
}
.about--content p {
  font-family: "Josefin Sans", sans-serif;
}
.about--content p span {
  display: block;
  font-style: italic;
  text-align: center;
  margin: 24px 0;
}
.about--content p span i {
  margin: 0 6px;
  color: #D3AB54;
}
.about--content button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #D3AB54;
  background-color: transparent;
  border: 1px solid #D3AB54;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  height: 45px;
  width: 175px;
}
.about--content button:hover {
  background-color: #D3AB54;
  color: black;
}
@media screen and (max-width: 600px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about--content {
    text-align: center;
  }
}

.galery {
  grid-area: galery;
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 30vw;
  overflow: hidden;
}
.galery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.galery--card {
  overflow: hidden;
  position: relative;
}
.galery--card:hover .galery--card--overlay {
  left: 0;
}
.galery--card--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -100%;
  background-color: rgba(211, 171, 84, 0.6);
  transition: left 0.7s;
}
.galery--card--overlay h3 {
  color: #FFFFFF;
  font-size: 2em;
  margin-bottom: 12px;
}
.galery--card--overlay p {
  color: #FFFFFF;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.galery--card--overlay button {
  width: 100px;
  height: 30px;
  background-color: #FFFFFF;
  color: #D3AB54;
  border-radius: 30px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
}

.footer {
  margin: 48px 0;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 60px 20px;
  color: #BBBBBB;
  gap: 36px;
  text-align: center;
}
.footer--logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer--logo--image {
  height: 100%;
}
.footer--logo--content {
  margin-left: 36px;
  text-align: start;
}
.footer--icon {
  font-size: 50px;
}
.footer--icon i {
  transition: all 0.4s;
}
.footer--icon i:hover {
  color: #D3AB54;
}/*# sourceMappingURL=style.css.map */