$primary_color: #D3AB54;
$secondary_color: #BBBBBB;
$background_color: #262626;
$overlay_color: #FFFFFF;
$primary_color_opaque: rgba(211, 171, 84, 0.6);

$font_family: 'Nunito', sans-serif;
$font_family_title: "Dancing Script", cursive;

$font_size_xlarge: 60px;
$font_size_large: 50px;
$font_size_medium: 30px;
$font_size_small: 14px;

$font_size_title: 40px;
$font_size_paragraph: 18px;

$border_radius: 30px;