$primary_color: #ededed;
$secodary_color: black;
$title_color: red;
$button_color: blue;

$border-radius: 6px;

$small_font-size: 12px;
$large_font-size: 16px;
$xlarge_font-size: 20px;

$margin: 20px;

$nav_colors: red, blue, green;