*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1em;
}

.listing{
    list-style: none;
    /* margin: 2em; */

    display: grid;
    gap: 20px;
    
    grid-auto-flow: dense;
    /* if you define dense as grid-auto-flow value, the grid will attempt to fill in empty grid cells */

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* auto-fill is a keyword that tells the browser to fill the grid
    with as many columns as possible */
}

.listing li{
    border: 1px solid #ffe066;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

.listing .header{
    background-color: orange;
    color: white;
    padding: 4px 12px;
}

.listing .cta{
    margin-top: auto;
    border-top: 1px solid #ffe066;
    text-align: center;
    padding: 4px 0;
}

.listing .body{
    padding: 12px;
}